.background {
    border-left: 6px solid green;
    height: 50px;
}

#bg {
  background-image: url('../img/bg@2x.svg'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: none; 
}

#bg-sh{
    background-image: url('../img/bg@22x.svg'); 
    background-size: cover; 
    background-position: center center;  
    background-repeat: no-repeat;
}


.n-logo{
    padding-right: 5%;
    padding-left: 8%;
    padding-bottom: 1%;
    padding-top: 1%;
/*box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43);*/

}

.n-logo-home{
padding-right: 5%; 
padding-left: 29%;
padding-bottom: 5%;
/*box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43);*/

}

.h1-seo{
  font-family: Avenir-Book;
  font-size: 5rem;
  font-weight: 600;
  padding-left: 15px;
}

.h3-seo{
  font-family: Avenir-Book;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 15px;

} 


h5{

    font-size: 4rem;
    line-height: 1.4em;
    margin-bottom: -45px;
    font-weight: 500;
    color: #115994;

}


.btn-simple{
  font-size: 11px;
  color: #79E400;
  background: transparent;
  border:none;
}
/*.h2-con{ Congratulations!: 
font-family: Avenir-Heavy;
font-size: 25px;
color: #FFFFFF;
line-height: 60px;
text-shadow: 0 2px 4px rgba(0,0,0,0.50);
text-align: center;
}*/
.div-form-error {
    padding-top: 12px;
    color: #ffffff;
}

.form-no-display{
    display: none;
}
.btn-send-quest{
  margin-top: 10px;  
}

#pleca{

  background-color:  #79E400;
  height: 100%;
  width: 30px;
  float:left; 
  position: absolute;
  
  
}


#space {
  padding-right: 5%; 
  padding-left: 9%;
  margin-bottom: 30px;

}


.bg-overlay {
    height: 100vh;
    background: linear-gradient(rgba(11,60,103,.9), rgba(16,23,41,100)70% ), url('../img/schick3.gif') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: 0;

}


.btn-space {
    margin-top: 10px;

}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 20px;
    font-weight: 600;
}


.modal-title-confirmacion h5{
    margin: 0;
    line-height: 1.42857143;
    
    font-weight: 800;
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 15px;
}
 #teminos{

   font-size: 20px;
 }



.modal-content .modal-body {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-size: 14px;
}

#titulo-confimacion{

font-size: 20px;
margin: 0;
    line-height: 1.42857143;
    font-size: 20px;
    font-weight: 600;

}
.modal-header .close {
    margin-top: -30px;
}

.modal .modal-header .close {
    color: #555555;
    font-size: 20px;
}
.content-center  {  
    position: absolute;
    top: 45%;
    left:47%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    /*padding: 0 15%;*/
    padding-left: 10%;
    color: #FFFFFF;
    width: 80%;
    max-width: 768px;

}


.triangulo {
    
     border-left: 20px solid #79E400;
     border-top: 20px solid transparent;
     border-bottom: 20px solid transparent;
     float: left;
     
}


#space-triangulo{
    
    margin-left: 15px;
    margin-bottom: -30px;
    
}



.pregunta{
    
    padding-top: 20px;
   /* Get new question?: */
    font-family: Avenir-Book;
    font-size: 1.8rem;
    color: #78909D;
    letter-spacing: 0;
}


.check{
   
 width: 100%;
}

.card-ques {
  
  display: inline-block;
  position: relative;
  width: 100%;
  color: rgba(0,0,0, 0.87);
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 4px solid #79E400;
  box-shadow: 0 15px 40px 0 rgba(28,36,78,0.15);
  
}

.back2{
width: 100%;
height: 100%;
position: absolute;
/* z-index: 2; */
background-image: url(../img/LINES2.png);
background-repeat: no-repeat;
background-position-x: 100%;
background-position-y: 100%;
opacity: 0.3;
background-size: 70%;
}



.modal-dialog{
width: 500px;
margin: 0px auto;
/* Rectangle: */
background: #FFFFFF;
border: 1px solid #76E500;
box-shadow: 0 15px 40px 0 rgba(28, 36, 78, 0.15);   
}


.btn-send{
padding: 18px 66px;
font-size: 16px;

}

.btn-send:hover{
padding: 18px 66px;
font-size: 16px;


}
.form-no-display {
display: none;

}


.img-rounded {
  border-radius: 350px;
  transition: opacity 0.5s ease 0s;
  max-width: 100%;
  padding: 7px;
}

.img-details {
  min-height: 50px;
  padding: 0 4px 0.5em;
}

.img-details img {
  width: 50px;
}

.img-details .author {
  margin-left: 10px;
  margin-top: -21px;
  width: 900px;
}

.img-circle {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
  max-width: 100%;
}

.img-thumbnail {
  border: 0 none;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(164, 158, 147, 0.6);
  margin-bottom: 10px;
}

.img-no-padding {
  padding: 0px;
}

.example-page .img-rounded {
  margin: 50px 0 20px;
}

.img-shadow {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.images-title {
  margin-bottom: 20px;
  height: 50px;
}


.category-absolute {
  position: absolute;
  text-align: center;
  top: 1.3vh;
  margin-top: 20px;
  padding: 0 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}
.category-absolute .creative-tim-logo {
  max-width: 400px;
  top: 20px;
  left: 90px;
  position: relative;
}

.category-absolute {
  background-attachment: fixed;
  position: relative;
  line-height: 20px;
}



.img-fluid{
    max-width: 100%; 
    height: auto;

}

.confirm-back{
    padding-left:30px; 
    padding-top: 10px; 
    background-color: #76E500; 
    width: 70%; 
    height: 200px; 
    margin-left: 80px;
}

.confirm-text h3 {
  font-weight: 600;
  font-size: 30px;
  color:  #115994;

}

.confirm-text p{
    font-weight: 400;
    padding-left: 10px;
    color:  #115994;


}

#pl{
    border-left: 3px solid #115994; 

}

#hydro{

    width: 100%; 
    position: absolute; 
    bottom: 0; 
    margin-bottom: 0px;
}

#hydro img{
    float: right; 
    width: 50%;
}






.footer-basic-centered{
    background-color: transparent;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 12px sans-serif;
    color: #ffffff;
    position: absolute;
    padding: 15px;
    bottom: 0;
    
}

.footer-basic-centered .footer-company-motto{
    color:  #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-name{
    color:  #ffffff;
    font-size: 12px;
    margin: 0;
}

.footer-basic-centered .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}

.footer-basic-left .footer-left{
    float: left;
}

.footer-basic-left {
    background-color: transparent;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 12px sans-serif;
    color: #ffffff;
    position: absolute;
    padding: 15px;
    bottom: 0;
    padding-left: 10%;
}

.footer-basic-left .footer-company-motto{
    color:  #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-left .footer-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-left .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}

.footer-company-name{
 font-size: 1rem;
}


@media (max-width: 575px)  { 
.section{ padding: 25px 0; } 

.n-logo-home{
margin-top: 30px;    
padding-right: 5%; 
padding-left: 2%;
padding-bottom: 8%;

/*box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43);*/

}

.carduno{

    padding-top: 2%; 
    padding-left:55px;
    padding-right: 25px;
}


.form-no-display {
display: none;

}


.h1-seo{
  font-family: Avenir-Book;
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: 15px;
}

.h3-seo{
  font-family: Avenir-Book;
  font-size: 1.3rem;
  font-weight: 300;
  padding-left: 15px;

} 
.n-logo{
width: 70%;    
padding-right: 5%; 
padding-left: 15%;
padding-bottom: 1%;
/*box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43);*/

}
.img-final{
    width:50%;
    float: right;
     margin-right: 10px; 
     margin-top: -100px; 
     position: relative;
}

#task{
    font-size: 13px;
}

#btn-inicio{

 font-size: 3px;

}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 60px;
  color: rgba(0,0,0, 0.87);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 25px;
  background: #FFFFFF;
  border: 4px solid #79E400;
  box-shadow: 0 15px 40px 0 rgba(28,36,78,0.15);
  margin-left: 7px;
}

.form-control,
.form-group .form-control {
  border: 0;
  border-left: 5px solid #79E400;
  height: 25px;
  left: 5%;
  background: ;
  box-shadow: 0 0 9px 0 rgba(74,144,226,0.55);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  color: #115994;
  width: 90%;
  padding-bottom: 1px;
  
}

#hydro-res{
 margin-top: 18%;

}

.confirm-back{

    margin-left: 60px; 
    padding-left:30px; 
    padding-top: 10px; 
    background-color: #76E500; 
    width: 70%; 
    height: 200px; 
    margin-left: 80px;
}

.confirm-text h3 {
  font-weight: 600;
  font-size: 22px;
  color:  #115994;

}

.confirm-text p{
    font-weight: 400;
    padding-left: 10px;
    color:  #115994;


}

.footer-company-name{
 font-size: 1rem;
 text-align: center;
 margin-left: 20px;
 /* Congratulations!: */
font-family: Avenir-Heavy;
color: #FFFFFF;
text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}


#hydro{

    width: 80%; 
    position: absolute; 
    bottom: 0; 
    margin-bottom: 0px;
}

#hydro img{
     width: 70%;
}

.carduno{
    
    padding-left:45px;
    padding-right: 15px;
}
.carddos{
    padding-left:45px;
    padding-right: 15px;
}

.card-ques{
display: table;
vertical-align: middle; 
margin-top: 6px;
}

.footer-basic-centered{
    position: relative;
}

.checkbox label, .radio label, label{
font-size: 9px;
line-height: 1.42857;
color: #0B3C67;
font-weight: 400;
}


}

@media (min-width: 576px) and (max-width: 767px) { 

.section{ padding: 50px 0; }    

.modal .modal-dialog {
    margin-top: 15%;
}

.carduno{

    padding-top: 2%; 
    padding-left:55px;
    padding-right: 25px;

}




#space-ng{
   margin-top: 50px;
}



.n-logo{
padding-right: 5%; 
padding-left: 10%;
padding-bottom: 7%;
/*box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43);*/

}


.footer-company-name{
 font-size: 1.3rem;
 margin-left: 10%;
}
#hydro{
    width: 95%; 
    position: absolute; 
    bottom: 0; 
    margin-bottom: 0px;
}

#hydro img{
    float: right; 
    width: 50%;
}

.confirm-back{
    padding-left:30px; 
    padding-top: 10px; 
    background-color: #76E500; 
    width: 70%; 
    height: 200px; 
    margin-left: 80px;
}


.img-final{
    width:50%;
    float: right;
     margin-right: 10px; 
     margin-top: -100px; 
     position: relative;
}

#hydro-res{
 margin-top: 6%;

}
.footer-company-name{
 font-size: 1.2rem;
 margin-left: 10px;
}

.card-ques {
  display: inline-block;
  position: relative;
  width: 100%;
  color: rgba(0,0,0, 0.87);
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #79E400;
  box-shadow: 0 15px 40px 0 rgba(28,36,78,0.15);
  display: table;
  vertical-align: middle;
    
}

.pregunta{
    padding-top: 8px;
   /* Get new question?: */
    font-family: Avenir-Book;
    font-size: 1.2rem;
    color: #78909D;
    letter-spacing: 0;
}

.checkbox label, .radio label, label{
font-size: 9px;
line-height: 1.42857;
color: #0B3C67;
font-weight: 400;
}

.btn-send{

padding: 18px 66px;
font-size: 11px;
}
#card-q{
 padding-left:55px; 
 padding-right: 25px;

}

.carduno{
    padding-top: 1%; 
    padding-left:55px;
    padding-right: 25px;
}
.carddos{
    padding-left:55px;
    padding-right: 25px;
}

.card-ques{
display: table;
vertical-align: middle; 
margin-top: 25px;
}
.modal .modal-dialog {
    margin-top: 15%;
}
}


@media (min-width: 768px) and (max-width: 991px){ 
.section{ padding: 50px 0; }  
.n-logo {
    padding-right: 5%;
    padding-left: 8%;
    padding-bottom: 8%;
    padding-top: 3%;
    /* box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43); */
}

#div_submit_button{
  padding-top: 40px;
}

.carduno{ 
    padding-left:55px;
    padding-right: 25px;
}
.carddos{
    padding-left:55px;
    padding-right: 25px;
}

.card-ques{
display: table;
vertical-align: middle; 
margin-top: 25px;
}

.n-logo-home{
margin-top: 30px;     
padding-left: 140px;
padding-bottom: 8%;


/*box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43);*/

}
#card-q{
 padding-left:55px; 
 padding-right: 25px;

}
.space-ng{
    margin-top: 40px;
}
.h1-seo{
  font-family: Avenir-Book;
    font-size: 45px;
    font-weight: 600;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 50px;
}

.h3-seo{
    font-family: Avenir-Book;
    font-size: 18px;
    font-weight: 300;
    padding-left: 64px;
    line-height: 24px;
    width: 469px;
    text-align: center;
    padding-top: 0px;
}


#h3-copy{
    font-family: Avenir-Book;
    font-size: 18px;
    font-weight: 300;
    padding-left: 66px;
    margin-left: 36px;
    line-height: 24px;
    width: 397px;
    text-align: center;
    padding-top: 0px;

}


.footer-company-name {
 font-size: 1.3rem;
 margin-left: 10%;
}
#hydro{
    width: 95%; 
    position: absolute; 
    bottom: 0; 
    margin-bottom: 0px;
}

#hydro img{
    float: right; 
    width: 300px;
    margin-right: 206px;
}

.confirm-back {
    padding-left: 30px;
    padding-top: 1px;
    background-color: #76E500;
    width: 74%;
    height: 260px;
    margin-left: 75px;
}
.confirm-text h3 {
    font-weight: 600;
    font-size: 28px;
    color: #115994;
}

.confirm-text p {
    font-weight: 400;
    padding-left: 10px;
    color: #115994;
    font-size: 15px;
    line-height: 19px;
    width: 390px;
}

.img-final {
    width: 300px;
    float: right;
    margin-right: 25px;
    margin-top: -155px;
    position: relative;
    background: #76E500;
    box-shadow: 0 2px 53px 0 #115994;
}


#hydro-res{
 margin-top: 11%;

}
.footer-company-name{
 font-size: 1.2rem;
 margin-left: 10px;
}

.btn-send{
padding: 18px 66px;
font-size: 16px;
}
.checkbox label, .radio label, label{
font-size: 11px;
line-height: 1.42857;
color: #0B3C67;
font-weight: 400;
}

.sp-q{
    padding-top: 2%; 
    padding-left:55px;
    padding-right: 25px;"
}

.modal .modal-dialog {
    margin-top: 35%;
}

.btn-simple{
  font-size: 11px;
  color: #79E400;
  background: transparent;
  border:none;
}

}


@media (min-width: 992px) and (max-width: 1199px) { 

.section{ padding: 20px 0; }    
.n-logo{
    padding-top: 25px;
    padding-right: 5%;
    padding-left: 9%;
    padding-bottom: 25px;
/*box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43);*/

}

.n-logo-home {
    padding-right: 5%;
    padding-left: 29%;
    padding-bottom: 5%;
    margin-top: 40px;
    /* box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43); */
}


.h1-seo {
    font-family: Avenir-Book;
    font-size: 5rem;
    font-weight: 600;
    padding-left: 15px;
    text-align: center;
}

.h3-seo {
    font-family: Avenir-Book;
    font-size: 16px;
    font-weight: 300;
    padding-left: 15px;
    text-align: center;
}

#h3-copy{
    font-family: Avenir-Book;
    font-size: 16px;
    font-weight: 300;
    padding-left: 64px;
    line-height: 24px;
    text-align: center;
    padding-top: 0px;
}

.carduno{
   
    padding-left:55px;
    padding-right: 25px;
}
.carddos{
    padding-left:55px;
    padding-right: 25px;
}


.form-control,
.form-group .form-control {
  border: 0;
  border-left: 5px solid #79E400;
  height: 25px;
  left: 5%;
  box-shadow: 0 0 9px 0 rgba(74,144,226,0.55);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  color: #115994;
  width: 90%;
  padding-bottom: 5px;
  
}

.card-ques {
  display: inline-block;
  position: relative;
  width: 100%;
  color: rgba(0,0,0, 0.87);
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #79E400;
  box-shadow: 0 15px 40px 0 rgba(28,36,78,0.15);
  display: table;
  vertical-align: middle;
    
}

.pregunta{
    padding-top: 8px;
   /* Get new question?: */
    font-family: Avenir-Book;
    font-size: 1.2rem;
    color: #78909D;
    letter-spacing: 0;
}

.checkbox label, .radio label, label{
font-size: 9px;
line-height: 1.42857;
color: #0B3C67;
font-weight: 400;
}

.btn-send,.btn-send:hover {

padding: 11px 46px;
font-size: 10px;
}

#card-q{
 padding-left:55px; 
 padding-right: 25px;

}

.check{
   
 width: 100%;
}
.back2{
width: 100%;
height: 100%;
position: absolute;
/* z-index: 2; */
background-image: url(../img/LINES2.png);
background-repeat: no-repeat;
background-position-x: 100%;
background-position-y: 100%;
opacity: 0.2;
background-size: 60%;
}


.footer-company-name{
 font-size: 1.1rem;
 margin-left: 16%;
}
#hydro{
    width: 80%; 
    position: absolute; 
    bottom: 0; 
    margin-bottom: 0px;
}

#hydro img{
    float: right; 
    width: 200px;
    margin-right: 236px;
}

.img-final{
    width: 270px;
    float: right;
    margin-right: -54px;
    margin-left: -52px;
    margin-top: -20px;
    position: relative;
    background: #76E500;
    box-shadow: 0 2px 53px 0 #115994;
}

#hydro-res{
 margin-top: 12px;

}

.confirm-back {
    padding-left: 30px;
    padding-top: 1px;
    background-color: #76E500;
    width: 97%;
    height: 232px;
    margin-left: -16px;
}

.confirm-text h3 {
  font-weight: 600;
  font-size: 25px;
  color:  #115994;

}

.confirm-text p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    padding-left: 15px;
    color: #115994;
    width: 380px;

}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 60px;
  color: rgba(0,0,0, 0.87);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 25px;
  background: #FFFFFF;
  border: 4px solid #79E400;
  box-shadow: 0 15px 40px 0 rgba(28,36,78,0.15);
}


.carduno{

    padding-top: 2%; 
    padding-left:55px;
    padding-right: 25px;



}

.modal .modal-dialog {
    margin-top: 15%;
}

.btn-simple{
  font-size: 10px;
  color: #79E400;
  background: transparent;
  border:none;
}

 }

@media (min-width: 1200px) { 
.section{ padding: 20px 0; }    
.carduno{
    padding-top: 2%; 
    padding-left:55px;
    padding-right: 25px;
}
.carddos{
    padding-left:55px;
    padding-right: 25px;
}

.card-ques{
display: table;
vertical-align: middle; 

}

.back2{
width: 100%;
height: 100%;
position: absolute;
/* z-index: 2; */
background-image: url(../img/LINES2.png);
background-repeat: no-repeat;
background-position-x: 100%;
background-position-y: 100%;
opacity: 0.3;
background-size: 20%;
}

.footer-company-name{
 font-size: 1.3rem;
 margin-left: 10%7
}
#hydro{
    max-width: 1000px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
}

.n-logo-home {
    padding-right: 5%;
    padding-left: 29%;
    padding-bottom: 5%;
    margin-top: 40px;
    /* box-shadow: 0 -4px 8px 0 #115994, 0 2px 4px 0 #115994, 0 15px 40px 0 rgba(28,36,78,0.43); */
}

#hydro img{
    float: right; 
    width: 300px;
    margin-right: 0px;
}
.checkbox label, .radio label, label {
    font-size: 11px;
    line-height: 1.42857;
    color: #101729;
    font-weight: 400;
}

#hydro-res{
 margin-top: -20px;

}

.confirm-back {
    padding-left: 30px;
    padding-top: 10px;
    background-color: #76E500;
    width: 70%;
    height: 200px;
    margin-left: 80px;
}

.footer-company-name{
 font-size: 1.2rem;
 margin-left: 10%;
}

.img-final{
    width: 35%;
    float: right;
    margin-right: 10px;
    margin-top: -50px;
    position: relative;
    background: #76E500;
    box-shadow: 0 2px 53px 0 #115994;
}

.modal .modal-dialog {
    margin-top: 15%;
}

}
